<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
            padding: 0%;
            margin: 0%;
            box-sizing: border-box;
        }
     .start{
         background-color: black;
         height: 60px;
     }
    </style>
</head>
<body>
   <div class="start">
     <h1>
         Omegle Clone
     </h1>
   </div>
</body>
</html>